<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasySite</title>
    <style>
        * {
            box-sizing: border-box;
            font-family: sans-serif;
        }

        body {
            margin: 0;
            font-size: 2vh;
            text-align: center;
        }

        a {
            color: white;
            text-decoration: none;
            font-weight: bold;
            background-color: black;
            border-radius: 5px;
            padding: 1% 5%;
            margin: 1%;
        }
    </style>
</head>
<body>
    <h1>Bienvenue</h1>
    <p>Ce site à été conçu avec <strong>EasySite</strong></p>
    <p>Une template qui aide les développeurs a créer leur site.</p>
    <a href="https://github.com/thetruefrag/easysite" target="_blank">Télécharger</a>
    <br>
    <p>Si vous êtes le développeur de ce site, n'hésitez pas à supprimer ce fichier.</p>
</body>
</html>